@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

/*Applying suitable background gradient to page*/
body {
  background: linear-gradient(to bottom right, rgb(168, 172, 212), rgb(63, 73, 167));
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Merriweather Sans', sans-serif;;
}

/* Formatting the submit button */

#btn-submit {
  background-color: black;
  border-color: black;
  color: white;
  border-width: 2px;
  max-width: 100%;
  overflow-x: visible;
}

/* Applying suitable color **when hovered** to submit button */
#btn-submit:hover {
  background-color: rgb(54, 54, 54);
  border-color: rgb(54, 54, 54);
}

.panel {
  padding: 20px;
}

.panel-default {
  border-color: #396592;
  border-width: medium;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

tr {
  background-color: white;
}
